<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Login V8</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'game/images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'game/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'game/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'game/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'game/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'game/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'game/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/circle.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
    <!--===============================================================================================-->
    <script defer src="{% static 'game/js/index.js' %}"></script>
</head>
<body>
{% verbatim %}
<div class="limiter container">
    <div class="container-login100">
        <div class="wrap-login100">
            <div id="mafia-vue" class="login100-form validate-form p-l-25 p-r-25 p-t-150 p-b-30">
                <!-- <div class="block-screen" v-show="block.activated">
                    <div class="msg">{{ block.msg }}</div>
                </div> -->
                <span class="login100-form-title">
                    Mafia
                </span>
                <!-- Main View -->
                <main-view v-if="room === 'main'" :me="me" :room_list="room_list"></main-view>
                <!-- Room View -->
                <room-view v-if="room !== 'main'" :me="me" :member_list="member_list" :jobs="jobs" :team_mates="team_mates" :targets="targets" :room_status="room_status" :room="room"></room-view>
                <template>
                    <modals-container />
                </template>
            </div>
        </div>
    </div>
</div>
</body>
{% endverbatim %}
</html>