<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <script src="{% static 'game/js/jquery.min.js' %}"></script>
    <script src="{% static 'game/js/jquery.mobile.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/jquery.mobile.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div role="main" class="ui-content jqm-content" style="max-width:500px; margin:auto;">
    <div style="margin-left:auto; width:30px; font-size:20px;">
        <i class="fas fa-plus" onclick="submit()" style="cursor:pointer;"></i>
        <form id="new-form" method="post" action="new">{% csrf_token %}</form>
    </div>
    <div data-demo-html="true">
        <ul data-role="listview" data-count-theme="b" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
            {% for object in object_list %}
                <li class="ui-li-has-count{% if forloop.first %} ui-first-child{% endif %}{% if forloop.last %} ui-last-child{% endif %}">
                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                        {{ object.id }}
                        <span class="ui-li-count ui-body-b">12</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    var submit = function() {
        $('#new-form').submit();
    }
</script>
</body>
</html>
